<!DOCTYPE html>
<html>
  <head>
    <title>IoT Temperature</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 align="center">Temperature and Humidity</h1>
    {% if data.temp > 80 %}
      <h7>{{ data.temp }}<img src="assets/temp-hot.jpg"></h7>
    {% elif data.temp > 65 %}
      <h7>{{ data.temp }}<img src="assets/temp-normal.jpg"></h7>
    {% else %}
      <h7>{{ data/temp }}<img src="assets/temp-cold.jpg"></h7>
    {% endif %}
    <br />
    <h7>{{ data.humidity }}<img src="assets/water-drop.png"></h7>
  </body>
</html>
